{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{"translations.page.title" | trans }}</h2>
    <p>{{"translations.page.p"|trans({'%name%': "toto"})}}</p>
    {{"post.number"|transchoice(3)}}
    <a href="{{url('translate', {"_locale": 'fr'})}}">dazdzad</a>
{% endblock %}
